<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hzl.electricmachinerycontroler">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="伺服电机上位机" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="app.akexorcist.bluetoothspp.DeviceList" />

        <activity
            android:name=".ParameterConfigureActivity"
            android:label="@string/ParameterConfigureActivityTitle" >
        </activity>

        <activity
            android:label="测试"
            android:name=".TestCircleAcitvity">
        </activity>

        <activity
            android:label="设置PID参数"
            android:name=".SetPIDActivity">
        </activity>

        <activity
            android:label="手册"
            android:name=".NoteBookActivity">
        </activity>

        <!--<activity-->
            <!--android:name=".SpeedCircle">-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name=".ElectricCircle">-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name=".LocationCircle">-->
        <!--</activity>-->

        <activity
            android:label="@string/TestOrder"
            android:name=".TestOrderActivity">
        </activity>

        <activity
            android:label="关于驱动器"
            android:name=".AboutQudongActivity">
        </activity>

    </application>

</manifest>
